{% set _minimal_navbar = true %}
{% extends 'layout' %}
{% block content %}

    <div class="c-banner">
        <div class="c-banner__content">
            <h1 class="c-banner__title">Nathaniel Charles</h1>
            <p class="c-banner__subtitle">Web Developer</p>
        </div>
    </div>

    <ul class="o-grid">
        {% for i in 1..6 %}
            <li class="o-grid__item">
                <a href="{{ route('portfolio.show', 'foobar') }}">
                    <div class="o-project-block">
                        <div class="o-project-block__image"
                             style="background-image: url(/assets/images/project.jpg)">
                        </div>
                        <h3 class="o-project-block__title">Lorem Ipsum</h3>
                        <p class="o-project-block__subtitle">Website Development</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
