{% set _minimal_navbar = true %}
{% extends 'layout' %}
{% block content %}

    <div class="c-banner">
        <div class="c-banner__content">
            <h1 class="c-banner__title">Nathaniel Charles</h1>
            <p class="c-banner__subtitle">Web Developer</p>
        </div>
    </div>

{% endblock %}
