.o-content {
  @include grid-row;
  background: #fff;
  min-height: calc(100vh - #{$navbar-height});

  a {
    &:link, &:visited {
      padding: 0.1em 0.35em;
      background: $primary-color;
      color: $body-font-color;
    }

    .no-touchevents &:hover, &:active {
      background: $body-font-color;
      color: $white;
    }
  }

  // Add extra padding on larger screens
  @include breakpoint(medium) {
    &__wrapper {
      $padding: rem-calc(map_get($grid-column-responsive-gutter, medium))/2;
      padding-right: $padding;
      padding-left: $padding;
    }
  }
}

.o-project {
  &__image {
    > img {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    $gutter: map-get($grid-column-responsive-gutter, small);
    @include grid-column($gutter: $gutter * 2);

    &__title {
      position: relative;
      margin: 0.75em 0 0.5em;
      line-height: 1;

      &--with-link {
        margin-bottom: 0.25em;
      }
    }

    &__link {
      display: inline-block;
      margin-bottom: 1.5em;
    }
  }

  @include breakpoint(medium) {
    $gutter: map-get($grid-column-responsive-gutter, medium);
    margin-top: 3rem;

    &__image {
      @include grid-column(6, $gutter);
      padding-right: 3rem;
    }

    &__description {
      @include grid-column-size(6);
      padding-left: 0;
      padding-right: rem-calc($gutter)/2;

      &__title {
        margin-top: -0.15em; // Remove space above text to align top edges
      }
    }
  }
}
