.c-navbar {
  $base: #{&};
  @include clearfix;
  z-index: $z-index--navbar;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);

  &__title-area {
    float: left;
  }

  &__logo {
    margin: 0;
    background: $primary-color;
    color: $body-font-color;
    font-size: 1rem;
    line-height: $navbar-height;
    font-weight: bold;

    .no-touchevents &:hover, &:active {
      background: $body-font-color;
      color: $white;
    }

    &__text {
      display: none;
    }

    &::after {
      content: attr(data-short);
    }

    @include breakpoint(28rem) {
      &__text {
        display: inline;
      }

      &::after {
        content: none;
      }
    }
  }

  &__link {
    font-size: 0.8rem;
    line-height: $navbar-height;
    color: $dark-gray;
    padding: 0.9rem;
    text-transform: uppercase;

    .no-touchevents &:hover, &.active {
      color: $black;
    }
  }

  &__list {
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
      float: left;
    }
  }

  // Add extra padding, then overhang title-area
  @each $breakpoint, $gutter in $grid-column-gutter {
    $padding: rem-calc($gutter) / 2;

    @include breakpoint($breakpoint) {
      padding-right: $padding;

      &__logo {
        padding-right: $padding * 2;
        padding-left: $padding * 2;
      }
    }
  }

  &.t-minimal-navbar {
    background-color: $primary-color;
    box-shadow: none;

    #{$base}__title-area {
      display: none;
    }

    #{$base}__link {
      color: $black;

      .no-touchevents &:hover, &.active {
        text-decoration: underline;
      }
    }
  }
}
