.c-navbar {
  $base: #{&};
  width: 100%;
  background: $white;

  &__wrapper {
    @include grid-row;

    &__content {
      @include grid-column;
    }
  }

  &__title-area {
    float: left;
  }

  &__logo {
    margin: 0;
    background: $primary-color;
    color: $body-font-color;
    font-size: 1rem;
    line-height: $navbar-height;
    font-weight: normal;

    &:hover {
      background: $body-font-color;
      color: $white;
    }

    &__long {
      display: none;
    }

    @include breakpoint(28em) {
      &__short {
        display: none;
      }

      &__long {
        display: inline;
      }
    }
  }

  &__link {
    font-size: 0.9rem;
    line-height: $navbar-height;
    color: $dark-gray;
    padding: 1em;

    &:hover {
      color: $black;
    }
  }

  &__list {
    float: right;
    position: relative;
    right: -1em;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
      float: left;
    }
  }

  // Add extra padding, then overhang title-area
  @each $breakpoint, $gutter in $grid-column-responsive-gutter {
    $padding: rem-calc($gutter) / 2;

    @include breakpoint($breakpoint) {
      &__wrapper {
        padding-right: $padding;
        padding-left: $padding;
      }

      &__title-area {
        margin-left: -$padding * 2;
      }

      &__logo {
        padding-right: $padding * 2;
        padding-left: $padding * 2;
      }
    }
  }

  &.t-minimal-navbar {
    #{$base}__title-area {
      display: none;
    }
  }
}
