.o-project {
  &__image {
    > img {
      width: 100%;
      height: auto;
    }
  }

  &__description {
    $gutter: map-get($grid-column-responsive-gutter, small);
    @include grid-column($gutter: $gutter * 2);

    &__title {
      position: relative;
      margin: 1.5rem 0 1rem;
      line-height: 1;

      &--with-link {
        margin-bottom: 0.5rem;
      }
    }

    &__link {
      display: inline-block;
      margin-bottom: 1.5rem;
    }
  }

  @include breakpoint(medium) {
    $gutter: map-get($grid-column-responsive-gutter, medium);
    margin-top: 3rem;

    &__image {
      @include grid-column(6, $gutter);
      padding-right: 3rem;
    }

    &__description {
      max-width: map_get($breakpoints, medium);

      &--with-image {
        @include grid-column-size(6);
        max-width: none;
        padding-left: 0;
        padding-right: rem-calc($gutter)/2;
      }

      &__title {
        margin-top: -0.35rem; // Remove space above text to align top edges
      }
    }
  }
}
