.o-project-block {
  $base: #{&};
  padding: 0.5rem 0.5rem 1.25rem;

  &__image {
    $ratio: percentage(4/5);
    position: relative;
    width: 100%;
    padding-top: $ratio;
    background: $dark-gray center no-repeat;
    background-size: cover;
    filter: grayscale(0.8);

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding-top: $ratio;
      background: #fff;
      opacity: 0.5;
    }
  }

  .no-touchevents &:hover, &:active {
    #{$base}__image {
      box-shadow: inset 0 0 0 10px $primary-color;
      filter: grayscale(0);

      &::before {
        opacity: 0;
      }
    }
  }

  &__title, &__subtitle {
    color: $body-font-color;
  }

  &__title {
    font-size: rem-calc(14px);
    line-height: 1.3;
    margin: 0.75em 0 0;
  }

  &__subtitle {
    font-size: rem-calc(12px);
    line-height: 1.3;
    margin: 0;
  }
}
