@import "foundation/foundation";

$navbar-height: 50px;
$banner-height: 400px;

$timing--fast: 150ms;
$timing--medium: 250ms;
$timing--slow: 350ms;

@import "typography";
@import "navbar";
@import "banner";
@import "content";
@import "grid";
@import "project-block";
