@import "foundation/foundation";

$navbar-height: rem-calc(50px);
$banner-height: rem-calc(400px);
$footer-height: 2rem;

$timing--fast: 150ms;
$timing--medium: 250ms;
$timing--slow: 350ms;

body {
  padding-bottom: $footer-height;
}

@import "typography";
@import "navbar";
@import "banner";
@import "content";
@import "grid";
@import "project";
@import "project-block";
