{% extends 'layout' %}
{% block content %}

    <div class="o-content">
        <div class="o-content__wrapper">
            <div class="o-project">
                <div class="o-project__image">
                    <img src="/assets/images/project.jpg">
                </div>
                <div class="o-project__description">
                    <h1 class="o-project__description__title o-project__description__title--with-link">Lorem Ipsum</h1>
                    <a target="_blank" href="#" class="o-project__description__link">wwww.google.com</a>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi autem error eveniet excepturi explicabo <a href="#">illo</a>, labore laborum nisi obcaecati possimus praesentium reiciendis rerum similique sit. Ex labore minima nisi.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid distinctio doloribus, dolorum explicabo libero nesciunt nisi nobis nulla officia omnis quidem repellat saepe similique tempore voluptatum. Quae quasi tenetur voluptatum.</p>

                    <h2>Sub Section</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque culpa ex maxime mollitia natus, reiciendis? Ab molestias nobis rem. Aperiam consectetur ex, iure magnam non placeat vitae. Dolores, error?</p>

                    <p>Animi atque beatae commodi consectetur consequatur consequuntur debitis delectus deserunt, doloribus eum, facere hic ipsam maiores modi officiis porro, praesentium quasi quia quidem quo reiciendis temporibus tenetur vero voluptates voluptatum.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
